h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15;
    text-align: center;
}

h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:darkslategray;
    font-size: 20px;
    text-align: center;
}

p{
    text-align: justify;
    font-family: "Arial",sans-serif;
    font-size: 20px;
}
