h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:darkgrey;
    font-size: 20px;
    text-align: center;
}

p{
    text-align: justify;
    font-family: "Arial",sans-serif;
    font-size: medium;
}

ul.a {
    list-style-type: circle;
  }